<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.laowu.studypro">

    <application
        android:name=".Appcontext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StackView.StackViewActivity"
            android:label="切换view含有动画"/>
        <activity android:name=".AdapterViewFlipper.AdapterViewFilpperActivity"
            android:label="切换view含有动画"/>
        <activity android:name=".ActionBar.ActionBarActivity"
            android:label="actionBar相关操作"
            android:theme="@style/ActionBar"/>
        <activity android:name=".Bitmap.BitmapActivity"
            android:label="bitmap显示assat文件"/>
        <activity android:name=".Matrix.MatrixActivity"
            android:label="图形的平移、缩放、旋转、倾斜"/>
        <activity android:name=".Matrix.MoveBackgroundActivity"
            android:label="背景的移动"/>
        <activity android:name=".Canvas.TestCourseReportActivity"
            android:label="Canvas自定义控件"/>
    </application>

</manifest>